:root {
    --primary-color: rgba(18, 20, 23, 1);
    --secondary-color: rgba(243, 245, 246, 1);
    --accent-color: rgba(77, 194, 116, 1);
    /* --semi-transparent-color: rgba(18, 20, 23, 0.5); */
    --white-color: rgba(255, 255, 255, 1);
    --custom-color: rgba(146, 147, 148, 1);
}

body {
    background-color: var(--white-color);
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1, ul, p, a {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

/* Heder */

.heder, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heder {
    padding: 5px;
}

.heder .heder-nav .heder-nav-list {
    color: var(--primary-color);
    margin-right: 20px;
    font-weight: 700;
}

.logo {
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 700;
}

.logo-excellence {
    color: var(--accent-color)
}

.heder-fill {
    fill: var(--primary-color);
}

.footer-fill {
    fill: var(--custom-color);
}

.heder .heder-social .heder-social-a .heder-social-svg {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-right: 15px;
}

.heder .heder-social .heder-social-a .facebook {
    width: 25px;
    height: 25px;
    padding: 11px 11px;
}

.heder .heder-social .heder-social-a .instagram {
    width: 28px;
    height: 28px;
    padding: 10px 10px;
}

.heder .heder-social .heder-social-a .youtube {
    width: 32px;
    height: 32px;
    padding: 8px 8px;
}

/* Hero */

.hero {
    background-image: url(./images.png/block.png);
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12%;
    padding-bottom: 12%;
    background-size: cover;
    background-position: center center;
    border-radius: 20px;
}

.hero-title {
    color: var(--white-color);
    font-size: 3em;
    max-width: 450px;
    margin-bottom: 30px;
}

.hero-title-english {
    color: #BEE8CC;
}

.hero-button {
    padding: 20px 70px;
    background-color: var(--accent-color);
    border: transparent;
    color: var(--white-color);
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
}

/* About Us */

.about {
    text-align: center;
}

.list {
    display: flex;
    /* max-width: 400px; */
}

.list-children {
    background-color: var(--secondary-color);
    border-radius: 10px;
}

.about-background {

}

.about-background-image {
    background-image: url(./images.png/memoji.png);
    width: 20px;
    height: 20px;
}

/* Footer */

.background {
    background-color: var(--primary-color);
}

.footer {
    padding: 40px;
}

.footer-logo {
    color: var(--white-color);
    font-size: 24px;
}

.footer .logo-footer {
    margin-bottom: 20px;
}

.phone {
    margin-bottom: 20px;
}

.phone-address {
    color: var(--custom-color);
}

.number-address {
    color: var(--white-color);
}

.nav .nav-children {
    margin-bottom: 10px;
}

.nav-children-list {
    color: var(--white-color);
}

.footer-date {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: solid 1px var(--custom-color);
}

.footer-date-text {
    color: var(--custom-color);
}
