/* Hero */

.hero {
    position: relative;
    background-image: url(../images.png/block.png);
    max-width: 1312px;
    width: 100%;
    padding-top: 12%;
    padding-bottom: 12%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px;
    margin-bottom: 96px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (max-width: 1200px) and (min-width: 704px) {
    .hero {
        width: 1215px;
    }
}

@media screen and (max-width: 704px) {
    .hero {
        background-image: url(../images.png/block-tablet.png);
        width: 704px;
        padding-top: 50%;
        padding-bottom: 50%;
    }
}

.hero-title {
    color: var(--white-color);
    max-width: 600px;
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: var(--font-bold);
}

.hero-title-english {
    color: var(--decoration-color);
}

.hero-svg {
    width: 35px;
    height: 35px;
    position: absolute;
        bottom: 0;
        left: 93%;
        transform: translateY(-70%);
}