/* Our-lessons */

.our-lessons {
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 64px;
}

.our-lessons-title {
    font-size: 40px;
    font-weight: var(--font-bold);
    z-index: 1;
    position: relative;
}

.our-decoration {
    width: 150px;
    height: 20px;
    background-color: var(--decoration-color);
    position: absolute;
    transform: translate(-23%, -100%);
    border-radius: 10px;
}

.our-lessons-text {
    font-size: 18px;
    font-weight: var(--font-normal);
    color: var(--text-color);
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
}

.our-lessons-list {
    display: flex;
    margin-bottom: 150px;
}

@media screen and (max-width: 704px) {
    .our-lessons-list {
        display: flex;
        flex-wrap: wrap;
    }

    .our-lessons-list-children {
        width: 300px;
        height: 404px;
        padding: 32 16px;
    }

    .our-lessons-list-children:nth-child(1) {
        margin: 0 32px 32px 0;
    }
}

@media screen and (min-width: 705px) {
    .our-lessons-list-children {
        width: 373px;
        padding: 32px;
    }

    .our-lessons-list-children:not(:last-child) {
        margin-right: 32px;
    }
}

.our-lessons-list-children {
    border-radius: 30px;
    border: 1px solid var(--accent-color);
    background-color: var(--white-color);
    text-align: center;
}

.our-lessons-children {
    background-color: var(--accent-color);
}

.our-lessons-children .study-mode,
.our-lessons-children .our-lessons-list-children-price,
.our-lessons-children .our-lessons-list-children-text {
    color: var(--white-color);
}

.study-mode {
    font-size: 20px;
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

.our-lessons-list-children-price {
    font-size: 32px;
    font-weight: var(--font-bold);
    color: var(--primary-color);
}

.our-lessons-list-children div {
    margin-bottom: 63px;
}

.our-lessons-list-children-text {
    font-size: 16px;
    font-weight: var(--font-normal);
    color: var(--text-color);
}