/* What-our-students-say */

.students-container {
    margin-bottom: 150px;
}

@media screen and (min-width: 1024px) {
    .students-children {
        width: 373px;
        padding: 32px 16px 64px;
    }
}

@media screen and (min-width: 429px) and (max-width: 1023px) {
    .students-children {
        width: 336px;
        padding: 32px 16px 40px;
    }
}

@media screen and (max-width: 428px) {
    .students-children {
        width: 336px;
        padding: 32px 16px 40px;
        border-radius: 16px;
        margin-right: 20px;
    }

    .students-decoration {
        width: 140px;
        height: 12px;
        transform: translate(-18%, -140%);
    }

    .students-container {
        margin-bottom: 80px;
    }
}

.students-decoration {
    background-color: var(--decoration-color);
    position: absolute;
    border-radius: 10px;
}

@media screen and (min-width: 429px) {
    .students-decoration {
        width: 177px;
        height: 20px;
        transform: translate(-18%, -100%);
    }

    .students-children {
        border-radius: 32px;
        margin-right: 32px;
    }
}

.students-children {
    background-color: var(--secondary-color);
}

.students-block {
    background-color: var(--accent-color);
    display: flex;
    border-radius: 15px;
    padding: 14px;
    margin-bottom: 32px;
}

.students-image {
    margin-right: 8px;
}

.students-name {
    font-size: 20px;
    font-weight: var(--font-bold);
    color: var(--white-color);
}

.students-status {
    font-size: 12px;
    font-weight: var(--font-normal);
    color: rgba(255, 255, 255, 0.50);
    ;
}

.students-text {
    padding: 0 16px;
    font-size: 16px;
    font-weight: var(--font-normal);
    color: var(--text-color);
}

/* Slider */

.students {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    /* Прокрутка по горизонталі */
    -webkit-overflow-scrolling: touch;
    /* Покращення прокрутки для Safari */
}

.students-children {
    scroll-snap-align: start;
    /* Вирівнювання слайдів */
    flex: 0 0 auto;
    box-sizing: border-box;
    /* Розрахунок ширини з врахуванням внутрішніх відступів */
}
